@import '../../../global.scss';

.socialButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    margin: 0px 5px;

    span {
      transition: all 0.5s ease;
      color: $lightSecondoryColor;

      &:hover {
        color: $lightMainColor;
      }
    }
  }
}
