@import '../../../../global.scss';
.tag {
  margin: 0px 5px;
  padding: 1px 5px;
  border-radius: 2px;
  border: $lightMainColor 1px solid;
  background-color: $ultraLightMainColor;
  color: $mainColor;
}
