.blog-post {
  // display: flex;
  // flex-direction: column;
  min-height: calc(100vh - 115px);
  margin: 10px 10%;
  align-items: center;

  .image {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 30px;
    padding: 5px 0;
    align-self: start;
  }

  .body {
    margin-top: 10px;
    word-spacing: 3px;

    .paragraph {
      padding-bottom: 10px;
      font-size: 18px;
    }
    .code {
      padding-bottom: 25px;
      justify-content: center;
    }
  }
}
