.app {
  height: 100vh;

  .section {
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      //other browsers
      display: none;
    }

    .cardWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3%;
    }
  }
}
